<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Angular JS Test</h1>
        </header>
        <main>
            <p id="test-intro">In order to get passed this test you will need to successfully finish the 3 given tasks</p>
            <ol>
                <li>getListPerson route</li>
                <li>addPerson route</li>
                <li>deletePerson</li>
            </ol>
            <div id="progress-indicator">
                <table id="progress-host">
                    <!-- row containing the progress bars -->
                    <tr>
                        <% tasks.forEach(t => {%>
                            <% if( t == 1){ %>
                                <td class="progress-bar bar-1"><%= t %></td>
                            <% }else{ %>
                                <td class="progress-bar bar-1 notYet"><%= t %></td>
                            <% } %>
                        <%}) %>
                    </tr>
                    <!-- row containing the progress bars numbers + notes -->
                    <tr>
                        <td class="barNum index-1">Task 1</td>
                        <td class="barNum index-2">Task 2</td>
                        <td class="barNum index-3">Task 3</td>
                    </tr>
                </table>
            </div>
        </main>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>

        const socket = io()
        socket.on('gotPersonList', (data) => {
            console.log('got Persons List');
        })
        socket.on('addedAPerson', (data) => {
            console.log("added A Person successfully");
        })
        socket.on('deletedAPerson', (data) => {
            console.log("deleted A Person successfully");
        })
    </script>
</body>
</html>